<!DOCTYPE html>
<html ng-app="RepsApp">
  <head>
    <meta charset="utf-8">
    <title>Find your representative</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Search Congress Members
          </a>
        </div>
      </div>
    </nav>

    <div class="container" ng-controller="MainCtrl as main">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <div class="row">
            <div class="col-sm-12">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="main.congressType" value="reps" />
                  Representatives
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="main.congressType" value="sens" />
                  Senators
                </label>
              </div>
            </div><!-- .col -->
          </div><!-- .row -->

          <div class="row">
            <div class="col-sm-12">
              <form class="form-inline search-form">
                <select class="form-control" ng-model="main.criteria" ng-change="main.input = ''" ng-options="item as item.label for item in main.apis"></select>
                <input class="form-control" type="text" ng-disabled="main.loading" ng-model="main.input" />
                <input class="btn btn-default btn-primary" type="submit" value="Submit" ng-disabled="main.loading" ng-click="main.criteria.method(main.input)" />
              </form>
            </div><!-- .col -->
          </div><!-- .row -->


          <ul class="list-group ouptut-list">
            <li class="list-group-item no-border" ng-show="main.loading"><i class="fa fa-spinner fa-pulse fa-3x"></i></li>
            <li class="list-group-item" ng-hide="main.loading" ng-repeat="rep in main.reps">
              <h4 class="list-group-item-heading {{rep.party}}">{{rep.name}}</h4>
              <p>State: {{rep.state}}</p>
              <a href="{{rep.link}}" target="_blank">{{rep.link}}</a>
            </li>
          </ul>

      </div><!-- .col-sm-8 -->
    </div><!-- .row -->
  </div><!-- .container -->

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
