<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app="MyController">
    <div ng-controller="MyController as cont">
      <input ng-model="cont.foo" />
      <p>{{cont.foo}}</p>
      <button ng-click="cont.doSomething(cont.foo)" >Alert</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script>
      var app = angular.module('MyApp', [
        'MyController'
      ]);

      angular.module('MyController', []).controller('MyController', function () {
        this.foo = 'bar';

        this.doSomething = function (value) {
          alert(value);
        };
      });
    </script>
  </body>
</html>














