/********* GLOBAL **********/
body {
  padding-top: 70px;
}


/****** SEARCH FORMS *******/
.search-form select,
.search-form input {
  margin: 15px 0;
}
.no-border {
  border:none;
}


/****** SEARCH OUTPUT ******/
.output-list {
  margin-top:30px;
}

.R {
  color:#CC0D00;
}

.D {
  color: #2F3AFF;
}
